$sr:50;

*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        background: #f4f4f4;
        
         header{
            width: 750/$sr+rem;
            height: 130/$sr+rem;
            background:#148ad2 ;
            display: flex;


            
            div{
                width:30/$sr+rem;
                height:30/$sr+rem;
                border: solid 1px red;
                transform: rotate(45deg);
                border-color: transparent transparent white white;
                margin-left: 20/$sr+rem;
                margin-top: 56/$sr+rem;
            }
            span{
                display: block;
                height: 36/$sr+rem;
                text-align: center;
                line-height: 36/$sr+rem;
                margin: 54/$sr+rem auto;
                font-size: 42/$sr+rem;
                color: white;
                padding-right:50/$sr+rem;
            }
        }
        section{
            width: 100%;
            ul{
                width: 100%;
                margin-top: 22/$sr+rem;
                font-size: 30/$sr+rem;
                color: #333;
                line-height:104/$sr+rem; ;
                
                li{
                    width: 100%;
                    height: 104/$sr+rem;
                    background: white;
                    margin-bottom: 1px;
                    padding-left:76/$sr+rem;
                    padding-right:24/$sr+rem;
                    box-sizing: border-box;
                    display: flex;
                   justify-content:space-between;
                   align-items: center;
                  }
                  .xz{
                      width:80/$sr+rem ;
                      height: 40/$sr+rem;
                      border-radius: 40/$sr+rem;
                      background: #148AD2;
                      position: relative;
                      border: solid 1px gray;
                      p{
                          position: absolute;
                          width: 40/$sr+rem;
                          height: 40/$sr+rem;
                          border-radius:40/$sr+rem;
                          background: #fff;
                          right: 0;
                          border: solid 1px grey;
                          bottom: -1px;

                      }
                  }
                  
                  .slide{
                      width: 420/$sr+rem;
                      height: 6/$sr+rem;
                      border-radius: 6/$sr+rem;
                      background:#e6e6e6;
                      position: relative;
                    
                  }
                  .color{
                      width: 0;
                      height: 100%;
                      background: #1588d9;
                      position: absolute;
                      
                  }
                  .ball{
                      left: 0;
                      display: block;
                      width: 24/$sr+rem;
                      height: 24/$sr+rem;
                      border-radius: 50%;
                      background: #1588D9;
                      position: absolute;
                      top: -9/$sr+rem;
                  }
                  .b{
                      position: absolute;
                      left: 0;
                      top:-15/$sr+rem ;
                      &:nth-of-type(2){
                         left: 340/$sr+rem;
//                       right: 0/$sr+rem;
                      }
                    }
                  
                  .slidea{
                      right: 110/$sr+rem;
                      width: 316/$sr+rem;
                      height: 6/$sr+rem;
                      border-radius: 6/$sr+rem;
                      background:#e6e6e6;
                      position: relative;
                      i{
                          
                         position: absolute;
                         display: block; 
                         width: 80/$sr+rem;
                         height: 40/$sr+rem;
                         font-style:normal;
                         color: #fff;
                         background-color: #148AD2;
                         left: 346/$sr+rem;
                         top: -15/$sr+rem; 
                         bottom: 0;
                         border-radius: 40/$sr+rem ;
                         font-size: 18/$sr+rem;
                         line-height:40/$sr+rem ;
                         text-align: center;
                      }
                    
                  }
                  .colora{
                      width: 100%;
                      height: 100%;
                      background: #1588d9;
                      position: absolute;
                      
                  }
                  .balla{
                      left: 100%;
                      display: block;
                      width: 24/$sr+rem;
                      height: 24/$sr+rem;
                      border-radius: 50%;
                      background: #1588D9;
                      position: absolute;
                      top: -9/$sr+rem;
                  }  
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               }   
        }
        
       
       
        
    }
}
